/*=============== HEADER ===============*/

.header {
    border-bottom: 1px solid #ECECEC;
}

.header .conteiner,
.footer .conteiner {
    display: flex;
    align-items: center;
}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav-list,
.address-list,
.advantage-list,
.activities-list,
.team-list,
.footer-contacts,
.projects-buttons-list,
.projects-list,
.clients-list {
    list-style-type: none;
}

header .logo {
    margin-right: 93px;
}
.header .address {
    margin-left: auto;
}

.header .address-mail {
    margin-right: 30px;
}

.address-mail,
.address-tel {
    fill: currentColor;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
}

.logo-blue {
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.logo-white {
    color: #ffffff;
}

.nav,
.nav-list,
.address-list {
    display: flex;
}

.nav-list-item-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-title);
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-item,
.address-mail,
.address-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-description);
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-mail-icon {
    margin-right: 10px;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    .address-mail:hover &,
    .address-mail:focus & {
        fill: var(--accent-color);
    }

}

.address-tel-icon {
    margin-right: 10px;

    .address-tel:hover &,
    .address-tel:focus & {
        fill: var(--accent-color);
    }
}

.address-mail,
.address-tel {
    display: flex;
    align-items:center;
}

.current {
    position: relative;
    color: var(--accent-color);

    &::after {
        content:"";
        display: inline-block;
        background-color:var(--accent-color);
        position: absolute;
        bottom: -1px;
        right: 0;
        
        width: 100%;
        height: 4px;
    
        border-radius: 2px;  
    }
}



/*=============== END HEADER ===============*/